{% include "base/header.html" %}
<body>
	




{% include "base/navbar4.html" %}

{% if messages %}
<ul class="messages">

    {% for message in messages %}        
        <div class="alert alert-{{ message.tags }} text-center">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Success!</strong> {{ message }}
        </div>        
    {% endfor %}    

</ul>
{% endif %}


	    <div class="container">
		{% block content %}{% endblock content %}
		</div><!-- /.container -->
{% include "base/footer.html" %}
<!------->
<!--for testing jscript and css without server reboot-->
<!--THIS MUST BE COPIED ON SUCCES ON RESPECTIVE FILES, AN THEN DELETED FOR PRODUCTION-->
<!------->
{% include "base/javascript_test.html" %}
{# include "base/style_test.html" #}	

</body>
</html>