<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Sinapsis</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{% url 'home:home' %}">Home</a></li>
        <li class="dropdown open">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Personas <span class="caret"></span></a>
          <ul class="dropdown-menu">
<!--            <li><a href="{% url 'people:person-create' %}">Crear</a></li>-->
            <li><a href="{% url 'people:people-index' %}">Listar</a></li>
            <!--<li><a href="#">Something else here</a></li>-->
<!--            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Relacionados</li>
            <li><a href="{% url 'people:contact-index' %}">Contactos</a></li>
            <li><a href="{% url 'people:role-index' %}">Roles</a></li>
            <li><a href="{% url 'people:rolebyperson-index' %}">Roles por persona</a></li> -->
          </ul>
        </li>
            <!--<li class="dropdown open">-->
            <!--  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Edu <span class="caret"></span></a>-->
            <!--  <ul class="dropdown-menu">-->
            <!--    <li><a href="{% url 'edu:student-index' %}">Alumnos</a></li>-->
            <!--    <!--<li><a href="{% url 'people:people-index' %}">Listar</a></li>-->-->
            <!--    <!--<li><a href="#">Something else here</a></li>-->-->
            <!--    <!--<li role="separator" class="divider"></li>-->-->
            <!--    <!--<li class="dropdown-header">Relacionados</li>-->-->
            <!--    <!--<li><a href="{% url 'people:contact-index' %}">Contactos</a></li>-->-->
            <!--    <!--<li><a href="{% url 'people:role-index' %}">Roles</a></li>-->-->
            <!--    <!--<li><a href="{% url 'people:rolebyperson-index' %}">Roles por persona</a></li> -->-->
            <!--  </ul>-->
            <!--</li>-->
            
            <li><a href="{% url 'home:home-layouttest' %}">Layoutest</a></li>
      </ul>
    </div><!--/.nav-collapse -->    
  </div>
</nav>

