<style>
  
@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}
	 
.alert {
  border-radius: 0 !important;
}

ul.messages {
  padding: 0 !important;
}

.table > tbody > tr > td {
     vertical-align: middle;
}

    	.row{
		    margin-top:40px;
		    padding: 0 10px;
		}
		.clickable{
		    cursor: pointer;   
		}

		.panel-heading div {
			margin-top: -18px;
			font-size: 15px;
		}
		.panel-heading div span{
			margin-left:5px;
		}
		.panel-body{
			/*display: none;*/
		}
</style>