<!-- Split button -->
<div class="btn-group pull-right">
  <button type="submit" class="btn btn-info">Guardarrr o...</button>
  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li>
        <button type="submit" class="btn btn-default">Guardarrr y agregar otra persona</button>
    <!--<a href="#" type="submit" >Guardar y agregar otra persona</a>-->
    </li>
    <li>
        <button type="submit" class="btn btn-default">Guardar y agregar contactos</button>
        <!--<a href="#" type="submit" >Guardar y agregar contactos</a>-->
    </li>
    <li>
        <button type="submit" class="btn btn-default">Guardar y agregar roles</button>        
        <!--<a href="#" type="submit" >Guardar y agregar roles</a>-->
    </li>
    <li>
        <button type="submit" class="btn btn-default">Guardar y agregar direcciones</button>        
        <!--<a href="#" type="submit" >Guardar y agregar direcciones</a>-->
    </li>			
  </ul>
</div>	